* {
  font-family: Adwaita Mono;
}

window#waybar {
  background-color: transparent;
  padding: 0 0 10px;
}

.modules-left {
  margin-top: 0;
  padding-left: 0;
}

.modules-right {
  margin-top: 0;
  padding-right: 0;
}

#workspace-strip,
#resources,
#date-weather,
#status,
#transfers-power {
  background-color: rgba(24, 24, 32, 0.7);
  border-radius: 12px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 2px;
}

#workspace-strip {
  font-style: normal;
  margin: 0 8px 0 0;
}

#resources {
  margin-left: 12px;
}

#status {
  margin-right: 12px;
}

#resources #cpu,
#resources #memory,
#resources #disk,
#date-weather #clock,
#date-weather #custom-weather,
#status #network,
#status #bluetooth,
#status #pulseaudio,
#status #battery,
#transfers-power #custom-download,
#transfers-power #custom-upload,
#transfers-power #custom-exit {
  background-color: rgba(204, 204, 204, 0.06);
  border-radius: 9px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  margin: 0 1px;
  padding: 2px 9px;
}

#resources #cpu,
#date-weather #clock,
#status #network,
#transfers-power #custom-download {
  margin-left: 0;
}

#resources #memory,
#date-weather #custom-weather,
#status #battery,
#transfers-power #custom-exit {
  margin-right: 0;
}

#workspaces {
  background: transparent;
}

#workspaces button {
  background: transparent;
  border: 0;
  border-radius: 10px;
  color: #bbbbbb;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding: 2px 10px;
  transition: none;
}

#workspaces button.active {
  background: rgba(80, 80, 204, 0.65);
  color: white;
}

#custom-workspace-overflow {
  border-radius: 10px;
  color: #bbbbbb;
  font-size: 15px;
  font-weight: bold;
  min-width: 14px;
  padding: 2px 8px 2px 5px;
}

#custom-workspace-overflow:hover,
#workspaces button:hover {
  background: rgba(44, 44, 44, 0.9);
}

#custom-workspace-overflow:hover {
  color: #ffffff;
}

tooltip {
  background-color: rgba(26, 26, 26, 0.95);
  border-radius: 4px;
  margin: 0;
  opacity: 0.95;
  padding: 16px;
}

tooltip label {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock:hover,
#custom-weather:hover,
#custom-download:hover,
#custom-upload:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#pulseaudio:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#custom-exit:hover {
  background: rgba(44, 44, 44, 0.9);
  transition: ease-out 0.1s all;
}

#battery.critical:not(.charging) {
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: blink;
  animation-timing-function: linear;
  background-color: rgba(24, 24, 32, 0.7);
}
